# Geheimnisse & Umgebungsvariablen
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]

# Conda-Umgebungen & virtuelle Umgebungen
.conda/
venv/

# Deployment-Artefakte
*.zip
build/
package/

# Sonstige temporäre Dateien
*.pdf

# Frontend (Vite/Node)
frontend/node_modules
frontend/dist
frontend/dist-ssr
*.log
*.local
/node_modules
**/node_modules

# Editor-Dateien
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?